<div class="container">


    <div class="card">
        <div class="card-header">
            <h2>Funcionários <small>Click on columns header to sort the table.</small></h2>
        </div>
                
        <div class="card-body">
            <div class="table-responsive">
                <table ng-table="tableSorting" class="table table-striped table-vmiddle">
                    <tr ng-repeat="w in $data">
                        <td data-title="'ID'" sortable="'id'">
                            {{ w.id }}
                        </td>
                        <td data-title="'Name'" sortable="'name'">
                            {{ w.name }}
                        </td>
                        <td data-title="'Email'" sortable="'email'">
                            {{ w.email }}
                        </td>
                        <td data-title="'Username'" sortable="'username'">
                            {{ w.username }}
                        </td>
                        <td data-title="'Contact'" sortable="'contact'">
                            {{ w.contact }}
                        </td>
                        <td data-title="'Actions'">
                            <button class="btn bgm-cyan waves-effect"><i class="zmdi zmdi-edit"></i></button>
                            <button class="btn btn-danger waves-effect"><i class="zmdi zmdi-close"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    
         
</div>


